[user]
	name = Robin Ury
	email = 1146921+binury@users.noreply.github.com
  signingkey = 679DFF38ED10FAFD
[core]
	excludesfile = /Users/teddy/.gitignore_global
	editor = nvim
  pager = delta
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
# Enforce SSH
[url "git@github.com:"]
  insteadOf = https://github.com/
[url "git@gitlab.com/"]
  insteadOf = https://gitlab.com/
[url "git@bitbucket.org/"]
  insteadOf = https://bitbucket.org/
[web]
	browser = google-chrome
[instaweb]
	httpd = apache2 -f
[rerere]
	enabled = 1
	autoupdate = 1
[push]
	default = current
[diff]
	tool = vimdiff
	algorithm = histogram
[difftool]
	prompt = false
[github]
	user = binury
	token = UR_TOKEN_HERE
[gitflow "prefix"]
	feature = feature-
	release = release-
	hotfix = hotfix-
	support = support-
	versiontag = v
[alias]
	a = add --all
	ai = add -i
	#############
	ap = apply
	# as = apply --stat
	# ac = apply --check
	#############
	# ama = am --abort
	# amr = am --resolved
	# ams = am --skip
	#############
	# b = branch
	# ba = branch -a
	# bd = branch -d
	# br = branch -r
	# bdd = branch -D
	#############
	c = commit
	ca = commit -a
	cm = commit -m
	# cem = commit --allow-empty -m
	# cam = commit -am
	# cd = commit --amend
	# cad = commit -a --amend
	# ced = commit --allow-empty --amend
	#############
	cp = cherry-pick
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue
	#############
	d = diff
	dc = diff --cached
	dl = difftool
	dlc = difftool --cached
	dk = diff --check
	dp = diff --patience
	dck = diff --cached --check
	#############
	f = fetch
	fo = fetch origin
	fu = fetch upstream
	#############
	fp = format-patch
	#############
	fk = fsck
	#############
	g = grep -p
	#############
	l = log --oneline
	lg = log --oneline --graph --decorate
	#############
	ls = ls-files
	lsf = "!git ls-files | grep -i"
	#############
	m = merge
	ma = merge --abort
	mc = merge --continue
	ms = merge --skip
	#############
	o = checkout
	ob = checkout -b
	#############
	pr = prune -v
	#############
	ps = push
	psf = push -f
	psu = push -u
	pso = push origin
	# psao = push --all origin
	# psfo = push -f origin
	# psuo = push -u origin
	# psom = push origin master
	# psfom = push -f origin master
	# psuom = push -u origin master
	#############
	pl = pull
	plu = pull -u
	plo = pull origin
	# plp = pull upstream
	# plom = pull origin master
	# plpm = pull upstream master
	#############
	# pb = pull --rebase
	# pbo = pull --rebase origin
	# pbp = pull --rebase upstream
	# pbom = pull --rebase origin master
	# pbpm = pull --rebase upstream master
	#############
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase --interactive
	rbs = rebase --skip
	#############
	re = reset
	rh = reset HEAD
	reh = reset --hard
	rem = reset --mixed
	res = reset --soft
	rehh = reset --hard HEAD
	remh = reset --mixed HEAD
	resh = reset --soft HEAD
	#############
	r = remote
	ra = remote add
	rr = remote rm
	rv = remote -v
	rm = remote rename
	rp = remote prune
	rs = remote show
	rao = remote add origin
	rau = remote add upstream
	rso = remote show origin
	rsu = remote show upstream
	rpo = remote prune origin
	rpu = remote prune upstream
	#############
	s = status
	sb = status -s -b
	#############
	sa = stash apply
	sc = stash clear
	sd = stash drop
	sl = stash list
	sp = stash pop
	ss = stash save
	sw = stash show
	#############
	w = show
	wp = show -p
	wr = show -p --no-color
	#############
[commit]
	gpgsign = true
  # template = /Users/teddy/.git-commit-template.txt
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[advice]
	detachedHead = false
[fetch]
	prune = true
[rebase]
	autostash = true
	autosquash = true
[delta]
    features     = side-by-side line-numbers decorations
    minus-style  = syntax
    plus-style   = syntax
    # minus-style  = syntax bold "#bf5f69"
    # plus-style   = syntax bold "#8aac6c"
    syntax-theme = Nord
[delta "decorations"]
    # commit-decoration-style = bold yellow box ul
    # file-style = bold yellow ul
    # file-decoration-style = none
    # hunk-header-decoration-style = cyan box ul
[delta "line-numbers"]
    line-numbers-left-style = "#B48EAD" auto
    line-numbers-right-style = "#B48EAD" auto
    # line-numbers-minus-style = 124
    # line-numbers-plus-style = 28
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[merge]
	conflictStyle = diff3
